= form_for(@task) do |f|

  = render 'layouts/errors', model: @task

  - if @task.new_record?
    = f.hidden_field(:project_id, value: @project_id)
    .field
      = f.label :name
      %br
      = f.text_field :name

  .field
    = f.label :status
    %br
    = f.text_field :status

  .actions
    = f.submit
