%h1 Listing projects
%p
  Show only projects in the status:
  = link_to 'todo',  projects_path(status: "todo")
  = link_to 'doing', projects_path(status: "doing")
  = link_to 'done',  projects_path(status: "done")
  or
  = link_to 'show all projects', projects_path
%p
%table
  %thead
    %tr
      %th Project
      %th Tasks
  %tbody
    - @projects.each do |project|
      %tr
        %td
          = "#{project.name} (#{project.status})"
          %br
          = link_to 'New Task', new_task_path(project_id: project.id)
        %td
          %table
            - project.tasks.each do |task|
              %tr
                %td= task.name
                %td= link_to task.status, edit_task_path(task)
%br
= link_to 'New Project', new_project_path
