!!!
%html
  %head
    %title AuthorizeApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = flash.each { |key, value| content_tag(:div, value, class: "flash #{key}") }

    = yield
